﻿@model IEnumerable<_2017Blog.Models.Kategori>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Kategoriler</h2>

<p>
    @Html.ActionLink("Yeni Kategori", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KategoriAd)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KategoriAd)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "Edit", new { id=item.KategoriID }) |
            @Html.ActionLink("Detay", "Details", new { id=item.KategoriID }) |
            @Html.ActionLink("Sil", "Delete", new { id=item.KategoriID })
        </td>
    </tr>
}

</table>
