﻿@model IEnumerable<_2017Blog.Models.Kategori>

@{ 
    Layout = null;
}

<h5 class="card-header">Kategoriler</h5>
<div class="card-body">
    <div class="row">
        <div class="col-lg-6">
            @foreach (var item in Model)
            {
                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="/Home/KategoriMakale/@item.KategoriID">@item.KategoriAd</a>
                    </li>
                </ul>
            }
            
        </div>
    </div>
</div>
        @*<p>
                @Html.ActionLink("Create New", "Create")
            </p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.KategoriAd)
                    </th>
                    <th></th>
                </tr>

            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.KategoriAd)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id=item.KategoriID }) |
                        @Html.ActionLink("Details", "Details", new { id=item.KategoriID }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.KategoriID })
                    </td>
                </tr>
            }

            </table>*@
